node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
/Logo.jpeg
supabase/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.cursor
logs
*.log
npm-debug.log*
